{% extends "login_sys/base.html" %}

{% block body %}
<div class="form_container">
    <form action="" method="POST">
        {% csrf_token %}
        <h2>Login</h2>
        <div class="container">
            <label for="name">Name:</label>
                <input type="text" name="name" placeholder="Full Name">
        </div>
        
        <div class="container">
            <label for="email">Email:</label>
                <input type="email" name="email" placeholder="youremail@example.com">
        </div>
        
        <div class="container">
            <label for="pass">Password:</label>
                <input type="password" name="pass" placeholder="Password">
        </div>
        
        <div class="container">
            <label for="pass2">Confirm Password:</label>
                <input type="password" name="pass2" placeholder="Confirm Password">
        </div>
        
        <div class="container">
                <input type="submit" value="Login">
        </div>
        
    </form>
</div>
{% endblock %}